[submodule "bk_avdk_smp"]
	path = bk_avdk_smp
	url = https://github.com/junlon2006/bk_avdk_smp.git
	branch = release/v4.0.1-mybot
[submodule "bk_solution_ai"]
	path = bk_solution_ai
	url = https://github.com/junlon2006/bk_solution_ai.git
	branch = release/v4.0.1-mybot
